<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>delete employee</h2>
    <h3><form action="/emp/delsubmit" method="POST"></h3>
delete data<input type="text" name="Eid">
<br><br>
<input type="submit" value="delete data"></form>
</body>
</html>