<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>upload image</h1>
    <form action="/emp/uploadimage" method="POST " enctype="multipart/form-data">
    upload <input type="file" name="aghin" accept="image*/">
    <input type="submit" name="" id="">
    </form>
</body>
</html>