<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body><h2> New Employees details</h2>
    <form action="/emp/save" method="POST">
        Employee ID:
        <input type="text" name="Eid" placeholder="id"><br><br>
        First name:
        <input type="text" name="Name" placeholder="first name">
        <br><br>
        Last name
        <input type="text" name="lastname" placeholder="last name">
        <br><br>
        Salary:
        <input type="text" name="salary" placeholder="salary"><br><br>
        <input type="submit" value="add the data"></form>
</body>
</html>