<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/emp/update" method="POST">
        Employee ID:
        <input type="text" name="Eid" placeholder="id"><br><br>
         Name:
        <input type="text" name="eName" placeholder="first name">
        <br><br>
        Salary:
        <input type="text" name="esalary" placeholder="salary"><br><br>
        <input type="submit" value="update  data"></form>
</body>
</html>